doctype html
html(lang="ru-RU")
  head
    title Alliance Active
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="libs/normalize-css/normalize.css")
    link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.css")
    link(rel="stylesheet" href="css/unstyle.css")
    link(rel="stylesheet" href="css/latofonts.css")
    link(rel="stylesheet" href="css/font.css")
    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/view.css")
    link(href="https://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic" rel="stylesheet" type="text/css")
    //- link(rel="stylesheet" href="css/tools.css")
    //- link(rel="stylesheet" href="css/view-tool.css")
    //- link(rel="stylesheet" href="css/responsive.css")
    script(src="libs/modernizr/modernizr.js")
    script(src="libs/jquery/jquery.min.js")
    script(src="libs/jquery-touchswipe/jquery.touchSwipe.min.js")
    script(src="js/main.js")

  body 
    .wrapper
        header.page-header
            nav.main-nav
                    ul.main-nav__list
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Бренды
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Доставка
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Самовывоз
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Оплата
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Гарантия
                        li.main-nav__list-item: a.main-nav__list-link(href="#") О нас
                        li.main-nav__list-item: a.main-nav__list-link(href="#") Контакты
            .header-wrap
                .catalog-title Каталог
                .search-wrap
                    form.search-wrap__form(action="#")
                        input.search-wrap__input(type="text" value="Поиск")
                        button.search-wrap__button(type="submit" value="")
                            i.fa.fa-search
                //- .contacts-wrap 
                //-     span.contacts-wrap__tel +375 (17) 202-70-24
                //-     span.contacts-wrap__tel +375 (17) 202-70-25
                //-     span.contacts-wrap__addr г. Минск, ул. Притыцкого, 64А
            
        .content
            //- .slider SLIDER
            .content-wrap
                .breadcrumbs breadcrumbs
                aside.sidebar
                    h2.sidebar-heading Низковольтная аппаратура
                    ul.sidebar-menu
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Контакторы. пускатели
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Реле
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Электромагниты
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Катушки управления
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Предохранители
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Трансформаторы
                    h2.sidebar-heading Низковольтная аппаратура
                    ul.sidebar-menu
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Контакторы. пускатели
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Реле
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Электромагниты
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Катушки управления
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Предохранители
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Трансформаторы
                    h2.sidebar-heading Низковольтная аппаратура
                    ul.sidebar-menu
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Контакторы. пускатели
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Реле
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Электромагниты
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Катушки управления
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Предохранители
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Трансформаторы
                    h2.sidebar-heading Низковольтная аппаратура
                    ul.sidebar-menu
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Контакторы. пускатели
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Реле
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Электромагниты
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Катушки управления
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Предохранители
                        li.sidebar-menu__item: a.sidebar-menu__link(a href="#") Трансформаторы
                main.right-col
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section
                        p.right-col__p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, earum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam odit porro inventore corporis quaerat nulla sit rem recusandae corrupti, eligendi aspernatur odio in molestiae. Ad ab aut eaque quod error, eligendi explicabo expedita quas perspiciatis eum repudiandae deserunt accusantium aperiam. Veniam non impedit distinctio aliquam eius ut quaerat harum, aut nihil. Sunt velit commodi officia atque sapiente illum voluptate veniam architecto voluptatum ipsam laudantium debitis, sed aspernatur inventore labore ad aliquam quibusdam quasi itaque cupiditate iste. Distinctio, iure, eligendi. Nesciunt quos dicta molestiae accusantium obcaecati ex voluptatum corrupti, velit tempora, vitae dolor exercitationem architecto, sequi saepe quisquam, ut natus?
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section
                        p.right-col__p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, earum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam odit porro inventore corporis quaerat nulla sit rem recusandae corrupti, eligendi aspernatur odio in molestiae. Ad ab aut eaque quod error, eligendi explicabo expedita quas perspiciatis eum repudiandae deserunt accusantium aperiam. Veniam non impedit distinctio aliquam eius ut quaerat harum, aut nihil. Sunt velit commodi officia atque sapiente illum voluptate veniam architecto voluptatum ipsam laudantium debitis, sed aspernatur inventore labore ad aliquam quibusdam quasi itaque cupiditate iste. Distinctio, iure, eligendi. Nesciunt quos dicta molestiae accusantium obcaecati ex voluptatum corrupti, velit tempora, vitae dolor exercitationem architecto, sequi saepe quisquam, ut natus?
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section
                        p.right-col__p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, earum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam odit porro inventore corporis quaerat nulla sit rem recusandae corrupti, eligendi aspernatur odio in molestiae. Ad ab aut eaque quod error, eligendi explicabo expedita quas perspiciatis eum repudiandae deserunt accusantium aperiam. Veniam non impedit distinctio aliquam eius ut quaerat harum, aut nihil. Sunt velit commodi officia atque sapiente illum voluptate veniam architecto voluptatum ipsam laudantium debitis, sed aspernatur inventore labore ad aliquam quibusdam quasi itaque cupiditate iste. Distinctio, iure, eligendi. Nesciunt quos dicta molestiae accusantium obcaecati ex voluptatum corrupti, velit tempora, vitae dolor exercitationem architecto, sequi saepe quisquam, ut natus?
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section
                        p.right-col__p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, earum.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias laboriosam odit porro inventore corporis quaerat nulla sit rem recusandae corrupti, eligendi aspernatur odio in molestiae. Ad ab aut eaque quod error, eligendi explicabo expedita quas perspiciatis eum repudiandae deserunt accusantium aperiam. Veniam non impedit distinctio aliquam eius ut quaerat harum, aut nihil. Sunt velit commodi officia atque sapiente illum voluptate veniam architecto voluptatum ipsam laudantium debitis, sed aspernatur inventore labore ad aliquam quibusdam quasi itaque cupiditate iste. Distinctio, iure, eligendi. Nesciunt quos dicta molestiae accusantium obcaecati ex voluptatum corrupti, velit tempora, vitae dolor exercitationem architecto, sequi saepe quisquam, ut natus?
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section
                    section.right-col__section
                        header.right-col__section-header
                            h1.right-col__section-h1 Header Section

            //- footer.page-footer footer